@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe');

a {
    text-decoration: none;
}

.text_color {
  font-family: 'ZCOOL KuaiLe', cursive;
}
.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 20px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  

  .space_left {
    margin-left: 50px;
  }

  .header-image {
    background-image: url(../../assets/Myphoto.jpg);
  }

  .card-size {
    max-width: 300px;
  }

  .display-right {
    
    flex: 1 1 auto;
  }

 
  .switch {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 34px;
  }
  
  .switch mat-checkbox {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ca2222;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  } 
  
  mat-checkbox:checked + .slider {
    background-color: #2ab934;
  }
  
  mat-checkbox:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  mat-checkbox:checked + .slider:before {
    -webkit-transform: translateX(165px);
    -ms-transform: translateX(165px);
    transform: translateX(165px);
  }
  
  /*------ ADDED CSS ---------*/
  .on
  {
    display: none;
  }
  
  .on, .off
  {
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
  }
  
  mat-checkbox:checked+ .slider .on
  {display: block;}
  
  mat-checkbox:checked + .slider .off
  {display: none;}
  
  /*--------- END --------*/
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;}